/*-------------------- General --------------------*/
:root {
  --black-default: #1b1b1b;
  --blue-default: #005ea2;
  --blue-hover: #1a4480;
  --blue-focus: #2491ff;
  --grey-default: #dddddd;
  --grey-lighter: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--black-default);
  font-family: Arial, sans-serif;
}

.main-content {
  padding-left: 16.67%;
  padding-right: 16.67%;
}

.page-banner {
  margin: 5px 0 -30px 0;

  img {
    width: 100%;
  }
}

.page-title {
  padding-left: 8.33%;
  display: inline-block;
  position: relative;
  top: -38px;
  z-index: 1;

  h1 {
    background-color: var(--grey-lighter);
    margin: 0;
    padding: 16px 32px;
  }
}

form#login {
  padding-left: 16.67%;
  padding-right: 66.67%;
  margin-top: 30px;

  fieldset {
    border: none;
    padding: 0;
    margin: 0 0 5px 0;
  }

  #password-field {
    margin: 10px 0 15px 0;
  }

  .show-password {
    text-align: right;
  }

  a {
    font-size: 13px;
  }
}

form.contact-us {
  padding-left: 16.67%;
  padding-right: 33.33%;
  margin-top: 40px;

  .name-fields {
    display: flex;
    justify-content: space-between;
  }

  #first-name-field, #last-name-field {
    width: 45%;
  }

  input#email {
    width: 70%;
  }

  textarea {
    width: 100%;
    appearance: none;
    margin-top: 5px;
    font-size: 16px;
    height: 200px;
    border: 2px solid var(--black-default);
    padding: 8px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    &:focus {
      outline: 3px solid var(--blue-focus);
    }

    /* &:invalid {
      border: 2px dashed red;
    } */
  }

  .counter {
    font-size: 14px;
    color: #757575;
    margin-bottom: 10px;
    text-align: right;
  }

  fieldset {
    border: none;
    padding: 0 0 0 1px;
    margin: 30px 0 22px 0;

    legend {
      margin-bottom: 8px;
      padding: 0;
    }
  
    .option {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  
    input {
      margin-left: 0;
    }

    label {
      display: inline;
      cursor: pointer;
    }
  }
  
  input[type="checkbox"] {
    appearance: none;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--black-default);
    border-radius: 3px;
    cursor: pointer;

    &:checked {
      background-color: var(--blue-default);
      border-color: var(--blue-default);
    }

    &:checked::before {
      content: "\2714"; /* Unicode checkmark */
      color: white;
      font-size: 15px;
      padding-left: 2px;
    }
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  appearance: none;
  margin-top: 5px;
  font-size: 16px;
  height: 40px;
  border: 2px solid var(--black-default);
  padding: 8px;
  box-sizing: border-box;

  &:focus {
    outline: 3px solid var(--blue-focus);
  }

  /* &:invalid {
    border: 2px dashed red;
  } */
}

.btn-asias {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--blue-default);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: var(--blue-hover);
  }
}

a.link-asias {
  color: var(--blue-default);

  &:hover {
    color: var(--blue-hover);
  }
}

.btn-link {
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
  color: var(--blue-default);

  &:hover {
    color: var(--blue-hover);
  }
}

/*-------------------- Header --------------------*/

/* Header Styling */
.header {
  background-color: white;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.33% 0 8.33%;
  margin-bottom: 16px;
}

/* Logo and Title Styling */
.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: -10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-default);
}

/* Top Buttons Styling */
.top-buttons {
  gap: 10px;
}

.btn-asias-link-outline {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--blue-default);
  color: var(--blue-default);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--blue-hover);
    color: var(--blue-hover);
  }
}

.btn-asias-link {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--blue-default);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--blue-hover);
  }
}

/* Navigation Bar Styling */
.navbar {
  display: flex;
  padding: 0 8.33% 0 8.33%;
  background-color: var(--grey-lighter);
  border-bottom: 2px solid var(--grey-default);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  margin-left: -10px;
}

.nav-links a:not(.dropdown-content a) {
  text-decoration: none;
  color: var(--black-default);
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  padding-bottom: 7px;

  &:hover {
    border-bottom: 4px solid var(--blue-default);
  }
}

/* Dropdown Menu Styling */
.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid var(--grey-default);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 2px;

  &.join {
    width: 146px;
  }
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--black-default);
  font-size: 14px;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: var(--grey-lighter);
}

/* Show Dropdown Menu on Hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.current {
  border-bottom: 4px solid var(--blue-default);
}

/*-------------------- Footer --------------------*/

/* Return to top */
.return-to-top {
  margin: 30px 0 10px 8.33%;
  font-size: 14px;
}

/* Footer styles */
footer {
  background-color: var(--grey-default);
  font-size: 14px;
}

/* Top section of the footer with links */
.footer-top {
  display: flex;
  padding: 10px 8.33% 10px 8.33%;
  background-color: var(--grey-lighter);
}

.footer-link {
  margin-right: 50px;
  color: var(--black-default);
  font-weight: bold;

  &:hover {
    color: var(--blue-hover);
  }
}

/* Bottom section of the footer */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8.33% 20px 8.33%;

  a:not(.btn-asias-link):not(.btn-asias-link-outline) {
    color: var(--black-default);
  }
}

/* Left side of the footer */
.footer-left {
  display: flex;
  align-items: end;
}

.footer-logo {
  height: 100px;
  width: auto;
  margin-right: 10px;
}

.footer-left p {
  margin: 0;
}

/* Right side of the footer */
.footer-right {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Distribute even space between items */
  height: 100px; /* This must be the same as the .footer-logo height */
  align-items: center;
}